/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Inter, Arial, Helvetica, sans-serif;
    background:#f4f7fb;
    color:#222;
}

/* Root */

#root{
    min-height:100vh;
}

/* Layout */

.app-container{
    display:flex;
    min-height:100vh;
    background:#f4f7fb;
}

/* Área das páginas */

.main-content{
    flex:1;
    padding:35px;
    overflow-y:auto;
    background:#f4f7fb;
}

/* Scroll */

.main-content::-webkit-scrollbar{
    width:8px;
}

.main-content::-webkit-scrollbar-thumb{
    background:#c7c7c7;
    border-radius:10px;
}

.main-content::-webkit-scrollbar-track{
    background:transparent;
}

/* Responsivo */

@media(max-width:768px){

    .app-container{
        flex-direction:column;
    }

    .main-content{
        padding:20px;
    }

}