.home-container{
    width:100%;
}

.home-banner{
    background:#ffffff;
    border-radius:16px;
    padding:45px;
    box-shadow:0 8px 25px rgba(0,0,0,.06);
    margin-bottom:35px;
}

.home-banner h1{
    color:#1e293b;
    font-size:38px;
    margin-bottom:15px;
}

.home-banner p{
    color:#64748b;
    font-size:17px;
    line-height:1.8;
    max-width:700px;
}

.dashboard{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:25px;
    margin-bottom:35px;
}

.dashboard-card{
    background:#fff;
    border-radius:16px;
    padding:30px;
    box-shadow:0 8px 25px rgba(0,0,0,.05);
    transition:.3s;
    border-left:5px solid #0d6efd;
}

.dashboard-card:hover{
    transform:translateY(-6px);
}

.dashboard-card h3{
    color:#1e293b;
    margin-bottom:15px;
}

.dashboard-card p{
    color:#64748b;
    line-height:1.8;
}

.about-system{
    background:#fff;
    border-radius:16px;
    padding:35px;
    box-shadow:0 8px 25px rgba(0,0,0,.05);
}

.about-system h2{
    color:#1e293b;
    margin-bottom:15px;
}

.about-system p{
    color:#64748b;
    line-height:1.8;
}

@media(max-width:768px){

    .home-banner{
        padding:30px;
    }

    .home-banner h1{
        font-size:30px;
    }

}

.stats{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:25px;

    margin-bottom:35px;

}

.stat-card{

    background:#0d6efd;

    color:white;

    border-radius:16px;

    padding:30px;

    box-shadow:0 8px 20px rgba(13,110,253,.25);

}

.stat-card h2{

    color:white;

    font-size:42px;

    margin-bottom:10px;

}

.stat-card span{

    font-size:17px;

}